.*

!/.circleci/
!/.github/
!/.pre-commit-config.yaml
!/.python-version
!/.readthedocs.yml

/build/
/coverage/
/dist/
/env*/
/htmlcov/
/site/
/test-results/
__pycache__/

coverage.xml
*.pyc
*.egg
*.egg-info
