include AUTHORS.rst
include CONTRIBUTING.rst
include ietfparse/py.typed
include LICENSE
include tox.ini
graft docs
graft tests

recursive-include ietfparse *.pyi
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.swp
