div.document {
    width: 90%;
    max-width: 1520px;
}

div.body {
    max-width: 1280px;
}

div.body p, ol > li, div.body td {
    text-align: justify;
}

img, div.figure {
    margin: 0 !important
}

ul > li {
    max-width: 80%;
}

ul > li > p {
    margin-bottom: 0;
}

ol > li > p {
    margin-bottom: 0;
}

dl.class > dt,
dl.function > dt {
    text-indent: -3em hanging;
    margin-left: 3em;
	padding-top: 1em;
}

blockquote {
    background: #EEEEEE;
    padding: 7px 30px;
    margin: 15px 0;
    line-height: 1.3em;
}

div.sphinxsidebar ul {
    list-style-type: disc;
}
